.sleepchart * {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1;
}

.sleepchart, .sleepchart .day {
  border: 1px solid black;
}

.sleepchart .day {
  padding: 1px;
}

.sleepchart .day .label {
  padding: 0 .5em;
  width: 6em;
}
    
.sleepchart .day div {
  display: inline-block;
  height: 1.2em;
  vertical-align: middle;
}
  
.sleepchart .day .s {
  background: blue;
}

.sleepchart .day .w {
  background: yellow;
}

.Sun {background: pink;}
.Sat {background: skyblue;}
